{% extends "base.html" %}

{% block title %}
    {{ texts.aboutTitle }} - {{ texts.name }}
{% endblock %}

{% block content %}
<section class="skills-section">
   
    <p class="skills-intro">
    {{ skillsIntro }}
    </p>


    <div class="skills-grid">
        {% for skill in skills %}
            <div class="skill-card">
                <i class="{{ skill.icon_class }} skill-icon"></i>
                <h3 class="skill-title">{{ texts[skill.title_key] }}</h3>
                <ul class="skill-list">
                    {% for item in skill["items"] %}
                        <li>
                            <i class="fas fa-check check-icon"></i>
                            {{ item }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

</section>

{% endblock %}
