<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ texts.name }} - Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <header>
        <div class="logo-container">
            {% if active == 'home' %}
            <div id="header-pic-placeholder"></div>
            {% else %}
            <img src="{{ url_for('static', filename='img/vedatpp.jpg') }}" alt="Profil Fotografi" class="header-profile-pic-static" />
            {% endif %}

            <h2 class="logo">
                <a href="{{ url_for('home') }}" style="text-decoration: none; color: inherit;">Portfolio.</a>
            </h2>
        </div>

        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="hamburger-icon">☰</label>

        <nav>
            <ul>
                {% for item in menu %}
                <li>
                    <a href="{{ url_for(item.endpoint) }}" class="{% if active == item.endpoint %}active{% endif %}">
                        {{ texts[item.name_key] }}
                    </a>
                </li>
                {% endfor %}

                <li class="lang-menu-item">
                    <a href="javascript:void(0)" id="mobileLangToggle">
                        {{ language_names[lang] }} <i class="fas fa-chevron-down" style="font-size: 0.8em; margin-left: 5px;"></i>
                    </a>

                    <div class="mobile-lang-dropdown" id="mobileLangDropdown">
                        {% for code, name in language_names.items() %}
                        <a href="{{ url_for('set_language', lang_code=code) }}">
                            {{ name }}
                        </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>