<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Vedat Koylahisar{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <header>
        <h2 class="logo">Portfolio.</h2>
        <nav>
            <ul>
                {% for item in menu %}
                <li>
                    <a href="{{ url_for(item.endpoint) }}" class="{% if active == item.endpoint %}active{% endif %}">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="language-selector">
            <button id="langButton" class="lang-button">{{ language_names[lang] }} ▼</button>
            <div id="langDropdown" class="lang-dropdown">
                <a href="{{ url_for('set_language', lang='en') }}">English</a>
                <a href="{{ url_for('set_language', lang='tr') }}">Turkce</a>
                <a href="{{ url_for('set_language', lang='de') }}">Deutsch</a>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
